# Banco de Dados PostgreSQL
DATABASE_URL="postgresql://postgres:BacoExu@localhost:5432/Fiscalize?schema=public"

# Autenticação JWT
JWT_SECRET="segredo_super_secreto_desenvolvimento_123"
JWT_EXPIRATION="24h"

# Servidor Express
PORT=3000
NODE_ENV="development"
FRONTEND_URL="http://localhost:3001"

# Cache Redis (opcional em desenvolvimento)
# REDIS_URL="redis://localhost:6379"
